/*
CSS rules to specify families

font-family: 'Hammersmith One', sans-serif;             (regular 400)
font-family: 'Playfair Display', serif;                 (regular 400, bold 700, black 900)
font-family: 'Roboto', sans-serif;                      (thin 100, light 300, black 900)
*/

* {
  margin: 0;
  padding: 0;
}

#hero-section {
  background-image: url("/source/img/bgk-header.png");
  width: 100%;
  height: 100%;
  margin: 0;
  background-position: center;
  object-fit: cover;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 200px;
}
#head1 {
  display: flex;
  justify-content: space-between;
  width: 900px;
}
#first {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
h3 {
  margin: 10px;
  font-size: 30px;
  color: #00e0d0;
  font-weight: 250;
  font-family: "Roboto";
  text-align: center;
}
#head1 nav {
  justify-content: flex-end;
}
ul {
  font-size: 13px;
  letter-spacing: 0px;
  color: #00e0d0;
  font-weight: 900;
  font-family: "Roboto";
  text-align: right;
  display: flex;
  align-items: flex-end;
  list-style: none;
  margin-right: 0;
}

.home {
  color: #00e0d0;
}

li {
  padding: 20px;
  text-decoration: none;
  padding-left: 0px;
}

li a {
  color: white;
  text-decoration: none;
  flex-direction: row;
}

li a:hover {
  font-size: 13px;
  letter-spacing: 0px;
  color: #00e0d0;
  font-weight: 900;
  font-family: "Roboto";
  justify-content: right;
}
hr {
  border-color: #00e0d0;
  width: 50px;
}

#team-section hr {
  border-color: #a3a1a8b7;
  width: 50px;
}

#hero-section h2 {
  margin-top: 100px;
  width: 100%;
  height: 74px;
  font-size: 32px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 900;
  font-family: "Playfair Display";
  text-align: center;
}

#hero-section p {
  height: 79px;
  width: 40%;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Roboto";
  padding: 2rem 0 3rem 0;
}

#our_story-section {
  display: flex;
  justify-content: center;
  padding: 5rem 0 7rem 0;
}

#our_story-section img {
  width: 250px;
  height: 250px;
  margin-right: 100px;
}

.story_text {
  width: 540px;
  height: 170px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #413d4b;
  font-weight: 300;
  font-family: "Roboto";
}
.story_text h1 {
  width: 460px;
  height: 47px;
  font-size: 22px;
  letter-spacing: 1px;
  color: #413d4b;
  font-weight: 700;
  font-family: "Playfair Display";
}

button {
  /* general button done*/

  width: 120px;
  height: 40px;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid #00e0d0;
  font-size: 16px;
  color: #00e0d0;
  font-weight: 400;
  font-family: "Hammersmith One";
  text-align: center;
  margin: 0.5rem 0;
  text-transform: uppercase;
}
button:hover {
  background-color: #00e0d0;
  color: white;
}

#button {
  /* form button done*/

  width: 120px;
  height: 40px;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid #00e0d0;
  font-size: 16px;
  color: #00e0d0;
  font-weight: 400;
  font-family: "Hammersmith One";
  text-align: center;
  margin: 0.5rem 0;
}
#button:hover {
  background-color: #00e0d0;
  color: white;
}

#watch-section {
  display: flex;
  justify-content: center;
  background-image: url("/source/img/bgk-middle.png");
  width: 100%;
  height: 100%;
  margin: 0;
  background-position: center;
  object-fit: cover;
  background-size: cover;
}

.watch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 16rem;
}

.play-img-container {
  display: inline-block;
  width: 100px;
  margin-bottom: 2rem;
}

.play-text {
  width: 460px;
  height: 18px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 900;
  font-family: "Roboto";
  text-align: center;
}

.ex-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ex-top h1 {
  width: 460px;
  height: 34px;
  font-size: 22px;
  letter-spacing: 1px;
  color: #413d4b;
  font-weight: 700;
  font-family: "Playfair Display";
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 50px;
  text-transform: uppercase;
}
.ex-top h2 {
  width: 500px;
  height: 27px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #2f2d35;
  font-weight: 400;
  font-family: "Playfair Display";
  text-align: center;
  margin: 10px 35%;
}
.ex-top h3 {
  width: 460px;
  height: 10px;
  font-size: 14px;
  color: lightgrey;
  font-weight: 800;
  text-align: center;
  margin: 0 35%;
}
.ex-row1 {
  display: flex;
  text-align: center;
  margin-top: 50px;
  background-color: lightgrey;
}
.ex-row1 h1 {
  width: 299px;
  height: 47px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #413d4b;
  font-weight: 900;
  font-family: "Roboto";
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
}
.ex-row2 h1 {
  width: 299px;
  height: 47px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #413d4b;
  font-weight: 900;
  font-family: "Roboto";
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
}
.ex-row1 h2 {
  width: 299px;
  height: 91px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 22px;
  color: #333333;
  font-weight: 300;
  font-family: "Roboto";
  text-align: center;
}
.ex-row2 h2 {
  width: 299px;
  height: 91px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 22px;
  color: #333333;
  font-weight: 300;
  font-family: "Roboto";
  text-align: center;
}
.placeholder {
  background-color: white;
  padding: 6%;
  flex-shrink: 2;
  flex-grow: 2;
}
.web {
  background-color: white;
  padding: 30px;
}
.design {
  background-color: white;
  padding: 30px;
  margin: 0 1px;
}
.mobile {
  background-color: white;
  padding: 30px;
}

.ex-row2 {
  display: flex;
  text-align: center;
  margin-bottom: 50px;
  background-color: lightgrey;
}
.search {
  background-color: white;
  padding: 30px;
  margin-top: 1px;
}
.game {
  background-color: white;
  padding: 30px;
  margin-top: 1px;
  margin-left: 1px;
  margin-right: 1px;
}
.heart {
  background-color: white;
  padding: 30px;
  margin-top: 1px;
}

#team-section {
  padding: 50px 0;
  width: 100%;
  height: 100%;
  background-image: url("img/bgk-header.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#team-section h2 {
  width: 460px;
  height: 34px;
  font-size: 22px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Playfair Display";
  text-align: center;
}

#team-section .p1 {
  width: 460px;
  height: 27px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #f9f9f9;
  font-weight: 400;
  font-family: "Playfair Display";
  text-align: center;
}

#ts-rows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
#ts-row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  width: 180px;
  height: 220px;
  margin: 10px;
  text-align: center;
}
#ts-row1 p {
  width: 220px;
  height: 17px;
  font-size: 13px;
  color: #a8a4a4;
  font-weight: 300;
  font-family: "Roboto";
  text-align: center;
}
#ts-row1 h3 {
  width: 220px;
  height: 14px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 900;
  font-family: "Roboto";
  text-align: center;
}
#p2 {
  background-color: white;
  height: 10rem;
  width: 180px;
}

#team-section .p4 {
  padding-top: 3rem;
  width: 455px;
  height: 24px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #f3f3f3;
  font-weight: 300;
  font-family: "Roboto";
  text-align: center;
}

#contact_client-session {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  margin: 0;
  background-position: center;
  background-size: cover;
}

.contact_client-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts {
  padding: 3rem;
}

.cc-title {
  object-position: left;
  font-size: 22px;
  letter-spacing: 1px;
  color: #413d4b;
  font-weight: 700;
  font-family: "Playfair Display";
}

#contact-form #cname,
#cmail,
#csubj {
  font-size: 14px;
  letter-spacing: 1px;
  color: #413d4b;
  font-weight: 300;
  font-family: "Roboto";
  width: 460px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #413d4b2c;
  margin: 0.5rem 0;
  padding: 0 0 0 1rem;
}

#contact-form #ctext {
  font-size: 14px;
  letter-spacing: 1px;
  color: #413d4b;
  font-weight: 300;
  font-family: "Roboto";
  width: 460px;
  height: 200px;
  background-color: #ffffff;
  border: 1px solid #413d4b2c;
  margin: 0.5rem 0;
  padding: 1rem 0 0 1rem;
  resize: none;
}

.clients {
  padding: 3rem;
}

.f-container {
  display: flex;
}

.clients-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.zar {
  width: 162px;
  height: 22px;
}

.clients-img img {
  padding: 1.8rem 5rem 1.8rem 0;
}

#footer {
  background-image: url("img/bgk-footer.png");
  background-size: cover;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 0;
}

#top {
  display: flex;
  justify-content: space-between;
}

#foot-row1 {
  display: flex;
  flex-direction: column;
  width: 31%;
  justify-content: center;
  color: white;
  height: 80%;
}

#foot-row1 h4 {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 900;
  font-family: "Roboto";
}

#foot-row1 p,
#row1 p {
  width: 299px;

  font-size: 14px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Roboto";
  padding: 2rem 2rem 0 0;
  margin: 0;
}

#picturesmall {
  height: 20px;
  margin: 0;
  padding: 2.2rem 1rem 0 0;
}
#row1 {
  display: flex;
  width: 100%;
}
#footer h4 {
  padding-top: 30px;
}

#name {
  width: 195px;
  height: 45px;
  background-color: #09052f00;
  border: 1px solid #ffffff;
  margin: 2rem 0;
  padding: 0 0 0 1rem;
}

#row1 input {
  background: transparent;
  border: 1px solid grey;
  color: grey;
}

.img2footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45px;
  width: 70px;
  background-color: #ffffff5e;
  border: 1px #ffffff5e;
  margin: 2rem 0 0 0.5rem;
}

#row2 {
  display: flex;
  justify-content: space-between;
}
#row2 img {
  background-color: transparent;
  padding-right: 0.2rem;
}

#foot-bottom {
  display: flex;
  width: 66%;
  justify-content: space-between;
  align-items: center;
  flex: auto;
  color: white;
  padding-top: 4rem;
}

#foot-bottom ul {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
}

#foot-bottom li {
  margin-right: 2rem;
}

#foot-bottom p {
  width: 459px;
  height: 13px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
  text-align: right;
}
