/*
CSS rules to specify families

font-family: 'Hammersmith One', sans-serif;             (regular 400)
font-family: 'Playfair Display', serif;                 (regular 400, bold 700, black 900)
font-family: 'Roboto', sans-serif;                      (thin 100, light 300, black 900)
*/


*{
    margin:0;
    padding: 0;  
}

#hero-section {
    background-image: url("/source/img/bgk-header.png");
    width: 100%;
    height: 100%;
    margin: 0;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#hero-section nav {  
    order: 1;
}

#hero-section ul{
    display: flex;
    align-content: flex-end;  
}

#hero-section li{
    padding: 10px;
}

#hero-section li a{
    color: white;
    text-decoration: none;
    flex-direction: row;
}

#hero-section a:hover{
    color:#00e0d0;
}

#hero-section h2{
    padding-top: 100px;
    font-size: 2rem;
    color: white;
}

#hero-section button{
    width: 10%;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    background-color: transparent;
    border:1px solid #00e0d0;
    color: #00e0d0;
    padding:10px;
}

#hero-section p{
    margin: 50px;
    text-align: center;  
}

#our_story-section{
    display: flex;
    justify-content: center;
    margin: 80px;
    height: 800px;
    background-color: white;
    
}

#our_story-section img{
    width: 250px;
    height: 250px;
    margin-right: 100px;
}

.story_text {
    width: 540px;
    height: 170px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #413d4b;
    font-weight: 300;
    font-family: "Roboto";
}
.story_text h1 {
    width: 460px;
    height: 47px;
    font-size: 22px;
    letter-spacing: 1px;
    color: #413d4b;
    font-weight: 700;
    font-family: "Playfair Display";
}

.story_text button {    /* We should make the buttons the same; the % Values of width didn't do it for me*/

    font-size: 1rem;
    color: #00e0d0;
    box-sizing: border-box;
    border: solid #00e0d0 1px;
    height: 54px;
    width: 120px;     
    font-weight: 500;
    text-align: center;
    background-color: transparent;
    
}
.story_text button:hover {
    background-color: #00e0d0;
    color: white;
}

#watch-section {
}

#expertise-section {
}

#team-section {
}

#contact_client-session {
}

footer {
}
