/*
CSS rules to specify families

font-family: 'Hammersmith One', sans-serif;             (regular 400)
font-family: 'Playfair Display', serif;                 (regular 400, bold 700, black 900)
font-family: 'Roboto', sans-serif;                      (thin 100, light 300, black 900)
*/


*{
    margin:0;
    padding: 0;  
}

#hero-section {
    background-image: url("/source/img/bgk-header.png");
    height: 600px;
    margin: 0;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#head1{
    display: flex;
    justify-content: space-around;
}
#first{
    display: flex;
    justify-content: center;
}    
#hero-section h3{
    margin-top:10px;
    margin-left: 10px;
    font-size: 30px;
    color: #00e0d0;
    font-weight: 250;
    font-family: "Roboto";
    text-align: center;
}
#head1 nav{
    justify-content: flex-end;
}
ul{
    font-size: 13px;
    letter-spacing: 0px;
    color: #00e0d0;
    font-weight: 900;
    font-family: "Roboto";
    text-align: right;
    display: flex;
    align-items: flex-end;
    list-style: none;
    margin-left: 0;
}

li{
    padding: 10px;
    text-decoration: none; 
    padding-left: 0px;
    
}

li a{
    color: white;
    text-decoration: none;
    flex-direction: row;
}

li a:hover{
    font-size: 13px;
    letter-spacing: 0px;
    color: #00e0d0;
    font-weight: 900;
    font-family: "Roboto";
    justify-content: right;
}
hr{
    
    background-color: #00e0d0;
}
#hero-section h2{
    margin-top: 100px;
    width: 100%;
    height: 74px;
    font-size: 32px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 900;
    font-family: "Playfair Display";
    text-align: center;    
}

#button12{  /* had to add the #hero-section so it wouldn't interfere with the story button */
    background-color: transparent;
    border:1px solid #00e0d0;
    margin-left: 45%;
    margin-right: 45%;
    font-size: 16px;
    color: #00e0d0;
    font-weight: 400;
    font-family: "Hammersmith One";
    text-align: center;
    padding: 5px;
 
    margin-bottom: 200px;
}


#hero-section p{
    height: 79px;
    padding: 0px 170px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Roboto";
}

#our_story-section{
    display: flex;
    justify-content: center;
    margin: 80px;
    height: 300px;
    background-color: white;
    
}

#our_story-section img{
    width: 250px;
    height: 250px;
    margin-right: 100px;
}

.story_text {
    width: 540px;
    height: 170px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #413d4b;
    font-weight: 300;
    font-family: "Roboto";
}
.story_text h1 {
    width: 460px;
    height: 47px;
    font-size: 22px;
    letter-spacing: 1px;
    color: #413d4b;
    font-weight: 700;
    font-family: "Playfair Display";
}

.story_text button {    /* We should make the buttons the same; the % Values of width didn't do it for me*/

    font-size: 1rem;
    color: #00e0d0;
    box-sizing: border-box;
    border: solid #00e0d0 1px;
    height: 54px;
    width: 120px;     
    font-weight: 500;
    background-color: transparent;
    
    
}
.story_text button:hover {
    background-color: #00e0d0;
    color: white;
}

#watch-section {
  display: flex;
  justify-content: center;
  background-image: url("/source/img/bgk-middle.png");
  width: 100%;
  height: 100%;
  margin: 0;
  background-position: center;
  object-fit: cover;
  background-size: cover;
}

.watch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 16rem;
}

.play-img-container {
  display: inline-block;
  width: 100px;
  margin-bottom: 2rem;
}

.play-text {
  width: 460px;
  height: 18px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 900;
  font-family: "Roboto";
  text-align: center;
}

.ex-top h1 {
width: 460px;
height: 34px;
font-size: 22px;
letter-spacing: 1px;
color: #413d4b;
font-weight: 700;
font-family: "Playfair Display";
text-align: center;
margin-left: 35%;
margin-right: 35%;
margin-top: 50px;
text-transform: uppercase
}
.ex-top h2 {
width: 500px;
height: 27px;
font-size: 14px;
letter-spacing: 1px;
color: #2f2d35;
font-weight: 400;
font-family: "Playfair Display";
text-align: center;
margin: 10px 35%;
}
.ex-top h3 {
    width: 460px;
    height: 10px;
    font-size: 14px;
    color: lightgrey;
    font-weight: 800;
    text-align: center;
    margin: 0 35%;
    }
.ex-row1 {
    display: flex;
    text-align: center;
    margin-top: 50px;
    background-color: lightgrey;
       
}
.ex-row1 h1{
    width: 299px;
    height: 47px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #413d4b;
    font-weight: 900;
    font-family: "Roboto";
    text-align: center;
}
.ex-row2 h1{
    width: 299px;
    height: 47px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #413d4b;
    font-weight: 900;
    font-family: "Roboto";
    text-align: center;
    }
.ex-row1 h2{
    width: 299px;
    height: 91px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #333333;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
}
.ex-row2 h2{
    width: 299px;
    height: 91px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #333333;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
}
.placeholder {
    background-color: white;
    padding: 6%;
}
.web{
    background-color: white;
    padding: 30px;
}
.design {
background-color: white;
padding: 30px;
margin: 0 1px;
}
.mobile {
    background-color: white;
    padding: 30px;
}

.ex-row2 {
    display: flex;
    text-align: center;
    margin-bottom: 50px;
    background-color: lightgrey;
}
    .search {
    background-color: white;
    padding: 30px;
    margin-top: 1px;
}
    .game {
    background-color: white;
    padding: 30px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
}
    .heart {
    background-color: white;
    padding: 30px;
    margin-top: 1px;
}

#team-section {
    padding-top: 50px;
    width: 100%;
    height: 600px;
    background-image:url('img/bgk-header.png');
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    text-align: center;
}
#ts-rows{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
}
#ts-row1{
    border: 2px solid grey;
    width:150px;
    height:250px;
    margin: 20px;
    text-align: center;
    justify-content: space-around
}
#ts-row1 p{
    font-size: 10px;
    color:grey;
    padding: 20px;    
}
#ts-row1 h3{
    font-size: 1rem;
    color:white;
}
#p2{
    background-color: white;
    height:50%;
}



















#contact_client-session {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  margin: 0;
  background-position: center;
  background-size: cover;
}

.contact_client-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts {
  padding: 3rem;
}

.cc-title {
  object-position: left;
  font-size: 22px;
  letter-spacing: 1px;
  color: #413d4b;
  font-weight: 700;
  font-family: "Playfair Display";
}

#contact-form #cname,
#cmail,
#csubj {
  font-size: 14px;
  letter-spacing: 1px;
  color: #413d4b;
  font-weight: 300;
  font-family: "Roboto";
  width: 460px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #413d4b2c;
  margin: 0.5rem 0;
  padding: 0 0 0 1rem;
}

#contact-form #ctext {
  font-size: 14px;
  letter-spacing: 1px;
  color: #413d4b;
  font-weight: 300;
  font-family: "Roboto";
  width: 460px;
  height: 200px;
  background-color: #ffffff;
  border: 1px solid #413d4b2c;
  margin: 0.5rem 0;
  padding: 1rem 0 0 1rem;
  resize: none;
}

#csubbut {
  width: 120px;
  height: 40px;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid #00e0d0;
  font-size: 16px;
  color: #00e0d0;
  font-weight: 400;
  font-family: "Hammersmith One";
  text-align: center;
  margin: 0.5rem 0;
}

.clients {
  padding: 3rem;
}

.f-container {
  display: flex;
}

.clients-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.zar {
  width: 162px;
  height: 22px;
}

.clients-img img {
  padding: 1.8rem 5rem 1.8rem 0;
}

#footer {
    background-image: url("img/bgk-footer.png");
    display: flex;
    height: 400px;
    padding: 0px 200px;
    flex-direction: column;
    justify-content: space-around;
}

#top{
    display: flex;   
    width: 100%;
    height: 80%;
    justify-content: space-between;
}

#foot-row1{
    display: flex;
    flex-direction: column;
    width:31%;
    justify-content: space-around;
    color: white;
    height: 80%;
}

#picturesmall{
    height: 20px;
}
#row1{
    flex-direction: row;
    display: flex; 
    justify-content: start;
    width: 100%;
}
#footer h4{
    padding-top: 30px;
}


#row1 input{
    background: transparent;
    border: 1px solid grey;
    color: grey;
}
#row2{
    display: flex;
    justify-content: space-between;
}
#row2 img{
    background-color: transparent;
}



#foot-bottom{
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex: auto;
    color: white;
}

